<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
        
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/setup">FPA</a></li>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/feeds">Feeds</a></li>
                    <li><a href="/stocks">Stocks</a></li>
                </ul>
            </div>
        </nav>
        <style>
            .btn-default {color:white; background-color: #000;}
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="col-sm-12 col-offset-6">
                <h1>Setup Complete</h1>
            </div>
        </div>
    </body>
</html>    
