<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
        
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/setup">FPA</a></li>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/feeds">Feeds</a></li>
                    <li class="active"><a href="/stocks">Stocks</a></li>
                </ul>
            </div>
        </nav>
        <style>
            .btn-default {color:white; background-color: #000;}
        </style>
    </head>
    <body>
    
    <div class="container-fluid">
        <div class="col-sm-12 col-offset-6">
            <button class="btn btn-default" type="submit">Add</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Abbreviation</th>
                        <th scope="col">Stock Name</th>
                        <th scope="col">Current Value</th>
                        <th scope="col">Value over Time</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DJIA</td>
                        <td>Dow Jones Industrial Average</td>
                        <td>$ {{ most_recent_price }}</td>
                        <td><div class="card"><canvas id="line-chart1" class="chartjs-render-monitor" width="100px" height="300px"></canvas></div>
                        <script>
                        var chart1 =  new Chart(document.getElementById("line-chart1"), {
                            type: 'line',
                            data: {
                                //labels: {{ cut_dates | safe }},
                                labels: ["{{cut_dates[0]}}", "{{cut_dates[1]}}", "{{cut_dates[2]}}", "{{cut_dates[3]}}", "{{cut_dates[4]}}", "{{cut_dates[5]}}", "{{cut_dates[6]}}", "{{cut_dates[7]}}", "{{cut_dates[8]}}", "{{cut_dates[9]}}"],
                                datasets: [{ 
                                        data: {{ cut_prices | safe }},
                                        label: "prices",
                                        borderColor: "#3e95cd",
                                        fill: false
                                    }
                                ]
                            },
                            options: {
                                maintainAspectRatio: false,
                                scaleShowLabels: false,
                                legend: { display: false }
                            },
                        });
                        </script>
                        </td>
                        <td><button class="btn btn-default" type="submit">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>
